.App {
  width: 100vh;
  height: 100vh;

  text-align: center;
  display: flex;
  flex-direction: column;
  background: red;
  justify-content: center;
  border: 4px solid black;
}
input {
  width: 300px;
  height: 50px;
  margin-top: 20px;
}
.model {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.model2 {
  border: 1px solid green;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 120px;
  left: 20px;
}
textarea {
  width: 300px;
  height: 150px;
  margin-top: 20px;
}
